@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. DEFAULT (Light Mode) */
html {
  background-color: #ffffff; /* White background */
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #ffffff; /* White background */
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none; /* Stop the rubber-band bounce */
}

/* 2. DARK MODE OVERRIDES (When html tag has class="dark") */
html.dark {
  background-color: #111827; /* Force Tailwind gray-900 Dark Blue */
}

html.dark body {
  background-color: #111827; /* Force Tailwind gray-900 Dark Blue */
}

#root {
  height: 100%;
  width: 100%;
}