@tailwind base;
@tailwind components;
@tailwind utilities;

/* STRUCTURE ONLY - NO COLORS HERE */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none; /* Prevents bouncing */
  -webkit-tap-highlight-color: transparent;
}

#root {
  height: 100%;
  width: 100%;
}